<launch>
  <arg name="ns"     default="bigbot"/>
  <arg name="config" default="base" />

  <param name="/$(arg ns)/robot_description"
         command="$(find jackal_description)/scripts/env_run
                    $(find jackal_description)/urdf/configs/$(arg config)
                    $(find xacro)/xacro $(find jackal_description)/urdf/jackal_lidar.urdf.xacro
                    'namespace:=$(arg ns)'" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" ns="$(arg ns)" >
    <param name="tf_prefix"         value="$(arg ns)"/>
    <param name="robot_description" value="/$(arg ns)/robot_description"/>
  </node>
</launch>
