<launch>
  <arg name="rviz" default="false"/>

  <include file="$(find bigbot_tutorial)/launch/map.launch">
    
  </include>

  <include file="$(find bigbot_tutorial)/launch/multi_robot.launch">
    
  </include>

  <!-- Show in Rviz   -->
  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bigbot_tutorial)/rviz/rosbot.rviz" required="true" output="screen"/>
  </group>

</launch>
