<launch>
  <!-- Open gazebo world -->
  <!-- <arg name="world_name" value="$(find jackal_gazebo)/worlds/jackal_race.world" /> -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_empty.world" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="0"/>
  </include>

  <arg name="ns1" default="rbt1"/>
  <arg name="ns2" default="rbt2"/>
  <arg name="ns3" default="rbt3"/>

  <arg name="config1_id" default="0" />
  <arg name="config2_id" default="1" />
  <arg name="config3_id" default="2" />

  <!-- Spawn rbt1 -->
  <include file="$(find bigbot_tutorial)/launch/robot.launch" >
    <arg name="ns" default="$(arg ns1)"/>
    <arg name="config_id" default="$(arg config1_id)"/>
    <arg name="x" default="1" />
    <arg name="y" default="0" />
    <arg name="z" default="0" />
    <arg name="roll" default="0" />
    <arg name="pitch" default="0" />
    <arg name="yaw" default="0" />
  </include>

  <!-- Spawn rbt2 -->
  <!-- <include file="$(find bigbot_tutorial)/launch/robot.launch" >
    <arg name="ns" default="$(arg ns2)"/>
    <arg name="config_id" default="$(arg config2_id)"/>
    <arg name="x" default="-1" />
    <arg name="y" default="0" />
    <arg name="z" default="0" />
    <arg name="roll" default="0" />
    <arg name="pitch" default="0" />
    <arg name="yaw" default="0" />
  </include> -->

  <!-- View in RVIZ. -->
  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bigbot_tutorial)/rviz/multi_jackal.rviz" >
      <remap from="/move_base_simple/goal" to="/$(arg ns1)/move_base_simple/goal"/>
    </node>
  </group>

</launch>