<launch>
  <!-- Open gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="$(find jackal_gazebo)/worlds/jackal_race.world" /> -->
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_empty.world" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="0"/>
  </include>

  <!-- Spawn rbt1 -->
  <group ns="rbt1">
    <param  name="tf_prefix" value="rbt1" />
    <include file="$(find bigbot_tutorial)/launch/robot.launch" >
      <!-- <arg name="name" value="rbt1"/> -->
      <arg name="x" default="1" />
      <arg name="y" default="0" />
      <arg name="z" default="0" />
      <arg name="yaw" default="0" />
    </include>
  </group>


</launch>