<launch>
  <!-- Robot 1 -->
  <group ns="rbt1">
    <param name="tf_prefix" value="rbt1" />
    <include file="$(find bigbot_tutorial)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 0.5 -y 0.5 -z 0" />
      <arg name="robot_name"  value="rbt1" />
    </include>
  </group>

  <!-- Robot 2-->
  <group ns="rbt2">
    <param name="tf_prefix" value="rbt2" />
    <include file="$(find bigbot_tutorial)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 2.5 -y 0.5 -z 0" />
      <arg name="robot_name"  value="rbt2" />
    </include>
  </group>
</launch>
