<launch>
  <arg name="ns" default="bigbot"/>
  <arg name="config" default="front_laser" />

  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0" />
  <arg name="roll" default="0" />
  <arg name="pitch" default="0" />
  <arg name="yaw" default="0" />

  <!-- Load Jackal's description -->
  <include file="$(find bigbot_tutorial)/launch/description.launch">
    <arg name="ns" value="$(arg ns)"/>
    <arg name="config" value="$(arg config)" />
  </include>

  <!-- Load Jackal's controllers and  teleop nodes. -->
  <include file="$(find bigbot_tutorial)/launch/control.launch">
    <arg name="ns" value="$(arg ns)"/>
  </include>


  <!-- Spawn Jackal -->
  <node name="spawner_model" pkg="gazebo_ros" type="spawn_model" ns="$(arg ns)"
  args="-urdf -param /$(arg ns)/robot_description -model $(arg ns) 
  -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" />

</launch>
